<!-- Modal do Carrinho -->
<div :class="{ 'translate-x-full': !cartModal }" class="fixed top-0 right-0 z-20 w-80 lg:w-96 h-full bg-white transition-all duration-500 p-4" x-cloak>
    
    <!-- Carrinho Vazio -->
    <div class="flex flex-col items-center text-center border border-gray-300 p-8 space-y-4" x-show="cart.length == 0">
        <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
        <p class="font-semibold">Seu carrinho está vazio</p>
        <p class="text-sm">Navegue agora pelas categorias da nossa loja e escolha os produtos desejados para adicionar em seu carrinho de compras</p>
    </div>

    <!-- Carrinho com Produto -->
    <div class="h-screen space-y-4" x-show="cart.length > 0">
        
        <!-- Titulo -->
        <p class="text-red-700 text-center font-bold tracking-widest">ITENS NO MEU CARRINHO (<span x-text="cart.length"></span>)</p>

        <!-- Listagem dos Produtos -->
        <div class="overflow-auto max-h-[80%]">
            <template x-for="(product, index) in cart" :key="product.id">
                <div :class="{'mb-4': index != cart.length - 1}" class="flex rounded shadow border p-4 space-x-4">
                    <img class="w-16" :src="product.image">
                    <div class="flex-1 flex flex-col justify-between">
                        <div class="flex items-center justify-between">
                            <div class="text-xs space-y-1">
                                <p class="font-semibold" x-text="product.name"></p>
                                <p x-text="product.brand"></p>
                            </div>
                            <button @click="removeToCart(product)">
                                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"> 
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                </svg>
                            </button>
                        </div>
                        <div class="flex items-center justify-between">
                            <div class="flex items-center">
                                <button type="button" @click="increaseAmount(product)">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                                <input class="w-12 text-center outline-none" type="tel" maxlength="2" x-model.number="product.volume" :value="product.volume">
                                <button type="button" @click="decreaseAmount(product)">
                                    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </button>
                            </div>
                            <p class="text-xs" x-text="'R$ ' + (product.price * product.volume).toFixed(2)"></p>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <!-- Valor Total -->
        <div class="rounded shadow border p-4 space-y-4">
            <p class="text-center font-semibold">Resumo do Pedido</p>
            <div class="flex items-center justify-between text-sm">
                <p>Subtotal</p>
                <p x-text="'R$ ' + cart.reduce((total, product) => total + product.price * product.volume, 0).toFixed(2)"></p>
            </div>
        </div>

        <!-- Botão de Compra -->
        <button class="w-full text-center text-white font-medium tracking-widest rounded shadow bg-gray-800 hover:bg-gray-900 duration-300 py-3" @click="create_checkout_session">FINALIZAR A COMPRA</button>
    
    </div>

</div>

<!-- Pelicula -->
<div class="fixed top-0 left-0 z-10 w-full h-full bg-black bg-opacity-50" x-show="cartModal || sidebarModal" @click="toggleModals" x-transition.opacity.duration.500ms></div>
